%fieldset.unit
  %legend Unit
  - form_for @unit do |unit|
    = unit.error_messages

    = unit.text_field :number
    = unit.text_field :name
    
    - unit.fields_for :exercises do |exercise|
      %fieldset.exercise
        %legend Exercise
        = exercise.text_field :number
        = exercise.text_field :description
        = exercise.check_box :_destroy
        = exercise.label :_destroy
        - exercise.fields_for :sentences do |sentence|
          %fieldset.sentence
            %legend Sentence
            = sentence.text_field :number
            = sentence.text_field :text
            = sentence.check_box :_destroy
            = sentence.label :_destroy
            - sentence.fields_for :answers do |answer|
              %fieldset.answer
                %legend Answer
                = answer.text_field :text
                = answer.check_box :_destroy
                = answer.label :_destroy
    
    %div
      = unit.submit
      or
      = link_to 'Cancel', units_path

:javascript
  document.getElementById('unit_number').focus()

